<!DOCTYPE html>

<form id="uploadForm" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" class="form-control" name="fileToUpload" id="fileToUpload" multiple>
    </div>
    <input class="btn btn-default" value="Upload File" ng-click="$ctrl.upload()">
</form>

<!-- <div>
  <input my-directive type="file" name="file">
  <p>
    post request with this data:
  </p>
  <pre ng-repeat="(key, value) in fileLog">
    {{key}} {{ value }}
  </pre>
</div> -->
